@font-face {
  font-family: 'Mohave';
  src: url('../static/Mohave.otf');
}

html,
body {
	padding: 0;
	margin: 0;
	background-color: #212121;
	overflow:hidden;
}

body {
  font-family: sans-serif;
  background-color: #eee;
}

